@tailwind base;
@tailwind components;
@tailwind utilities;

.search-input {
  min-width: 290px;
}

.weather-card {
  width: 450px;
  min-width: 340px;
}

.setting-card{
  width: 450px;
}

.guide-h{
  height: 100px
}

.preInfo-div {
  height: 500px;
}

.hamburger {
  top: 114px;
  right: 0px;
}


/* .dropdown {
  animation: dropdown 0.1s ease-out, bounce 0.5s ease-out;
} */
/* 
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-2px);
  }
} */
